body {
    background-image: url("../../img/e.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.table-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    color: black;
}

table {
    margin-bottom: 0;
}

input.form-control {
    margin-bottom: 10px;
}